.calculatorBottomContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.outputTextBox{
    outline: 5px solid black;
    display: grid;
    text-align: center;
}

.buttonContainers{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-auto-rows: auto;
}

button{
    font-size: 50px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}